<div ng-controller="PagePrivateCtrl">

    <div class="private-nav">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="" class="coins-tab-active">ניהול מודעות</a>
            </div>
            <div class="swiper-slide">
                <a href="">הגדרות</a>
            </div>
        </div>
    </div>
    <div class="manage-ads" style="display:none;">

        <h3>מודעות באוויר</h3>
        <div class="help-request-box">
            <div class="inner-help-request-box">
                <img src="./img/avatars/2.png" alt="תמונת משתמש" class="user-image">
                <h6 class="header"> אני מחפש דוגווקר להיום </h6>
                <p class="content">
                    הי אני חייב חייב חייב מישהו שיוציא את הכלב שלי לסיבוב, היום ב-19 בערב. מישהו??
                </p>
                <div class="help-request-info-box"><img
                    src="img/help-request-box/clock-icon.png" alt="זמן הפרסום" class="request-icon"><span
                    class="help-request-info request-time">לפני 7 דק'</span><img
                    src="img/help-request-box/distance-icon.png" alt="מרחק" class="request-icon"><span
                    class="help-request-info request-place">7.4 ק"מ ממך</span><img
                    src="img/help-request-box/coins-icon.png" alt="מטבעות" class="request-icon"><span
                    class="help-request-info request-payment">75</span>
                </div>
            </div>
        </div>
        <div class="help-request-box">
            <div class="inner-help-request-box">
                <img src="./img/avatars/2.png" alt="תמונת משתמש" class="user-image">
                <h6 class="header"> אני מחפש דוגווקר להיום </h6>
                <p class="content">
                    הי אני חייב חייב חייב מישהו שיוציא את הכלב שלי לסיבוב, היום ב-19 בערב. מישהו??
                </p>
                <div class="help-request-info-box"><img
                    src="img/help-request-box/clock-icon.png" alt="זמן הפרסום" class="request-icon"><span
                    class="help-request-info request-time">לפני 7 דק'</span><img
                    src="img/help-request-box/distance-icon.png" alt="מרחק" class="request-icon"><span
                    class="help-request-info request-place">7.4 ק"מ ממך</span><img
                    src="img/help-request-box/coins-icon.png" alt="מטבעות" class="request-icon"><span
                    class="help-request-info request-payment">75</span>
                </div>
            </div>
        </div>
        <h3>ארכיון מודעות</h3>
        <div class="help-request-box">
            <div class="inner-help-request-box">
                <img src="./img/avatars/2.png" alt="תמונת משתמש" class="user-image">
                <h6 class="header"> אני מחפש דוגווקר להיום </h6>
                <p class="content">
                    הי אני חייב חייב חייב מישהו שיוציא את הכלב שלי לסיבוב, היום ב-19 בערב. מישהו??
                </p>
                <div class="help-request-info-box"><img
                    src="img/help-request-box/clock-icon.png" alt="זמן הפרסום" class="request-icon"><span
                    class="help-request-info request-time">לפני 7 דק'</span><img
                    src="img/help-request-box/distance-icon.png" alt="מרחק" class="request-icon"><span
                    class="help-request-info request-place">7.4 ק"מ ממך</span><img
                    src="img/help-request-box/coins-icon.png" alt="מטבעות" class="request-icon"><span
                    class="help-request-info request-payment">75</span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="custom-settings">
        <h3>פרטים אישיים</h3>
        <div class="privacy-settings">
            <div class="user-image-box">
                <img src="./img/avatars/2.png" alt="תמונת משתמש" class="user-image">
                <img src="./img/page-private/check-icon.png" alt="" class="check-icon">
            </div>
            <img src="./img/page-private/plus-icon.png" class="add-img" alt="הוסף תמונה">
            <label>שם מלא</label>
            <span>שון לוין אברהם</span>
            <img src="./img/page-private/edit-icon.png" class="edit-icon" alt="ערוך מידע">
            <label>אימייל</label>
            <span>levison@gmail.com</span>
            <label>מספר טלפון נייד</label>
            <span>050-0000000</span>
            <img src="./img/page-private/edit-icon.png" class="edit-icon" alt="ערוך מידע">
        </div>
        <h3>הגדרות אפליקצייה</h3>
        <div class="line"></div>
        <div class="app-settings">
            <div class="alerts">
                <label>התראות</label>
                <span>אפשר קבלת התראות</span>
                <div class="switch">
                    <span class="switch-btn"></span>
                </div>
            </div>
            <label>חוקים ותקנון</label>
            <a href="">לחץ כאן לקריאת התקנון</a>
            <label>ניתן לפנות אליננו במייל</label>
            <a href="">Helpme@noname.com</a>
        </div>
    </div>
</div>