<div ng-controller="PageHelpCtrl">

    <div class="ad-summary-box">
        <img src="./img/page-help/flower.png" alt="אייקון" class="flower-icon"><div
         class="ad-summary">
            <span class="title">סיכום מודעה</span>
            <img src="./img/page-help/coin.png" alt="מטבע" class="coin-icon">
            <span class="description">עלות סופית של 15 מטבעות</span>
        </div>
    </div>
    <div class="preview">
        <span class="preview-title">תצוגה מקדימה של המודעה</span>
        <span class="note">כך תוצג המודעה בלוח המודעות</span>
        <span class="note">המודעה שלך הינה מודעה מקודמת,</span>
        <span class="note">היא צ=תוצג בתדירות גבוהה יותר למשתמשים ותחת הסקשן "מומלץ".</span>
        <span class="note">שים לב, מרגע אישור המודעה תוכל לצפות ולערוך אותה באיזור האישי - המודעות שלי.</span>
    </div>
    
</div>