<div ng-controller="PageMainCtrl">
    <div class="help-request-box">
        <div class="inner-help-request-box">
            <img src="../img/avatars/2.png" alt="תמונת משתמש" class="user-image">
            <h6 class="header"> אני מחפש דוגווקר להיום </h6>
            <p class="content">
                הי אני חייב חייב חייב מישהו שיוציא את הכלב שלי לסיבוב, היום ב-19 בערב. מישהו??
            </p>
            <div class="help-request-info-box">
                <img src="img/help-request-box/clock-icon.png" alt="זמן הפרסום" class="request-icon"><span
                 class="help-request-info request-time">לפני 7 דקות</span><img
                  src="img/help-request-box/distance-icon.png" alt="מרחק" class="request-icon"><span
                  class="help-request-info request-place">במרחק 1 קילומטר</span><img
                  src="img/help-request-box/coins-icon.png" alt="מטבעות" class="request-icon"><span
                  class="help-request-info request-payment">75 מטבעות</span>
            </div>
        </div>
    </div>
</div>