[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  direction: rtl;
  font-family: 'Varela Round', sans-serif;
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  user-select: none;
}
.btn-blue{
  display: block;
  margin: 0 auto;
  padding: 8px 0;
  width: 30%;
  min-width: 100px;
  max-width: 200px;
  color: white;
  font-size: 110%;
  text-align: center;
  background-color: #0396ff; /*Gradient Fallback*/
  background: -webkit-linear-gradient(#62bcfd, #0396ff);
  background: linear-gradient(#62bcfd, #0396ff);
  border-radius: 4px;
}
.btn-purple{
  display: block;
  margin: 0 auto;
  padding: 8px 0;
  width: 90%;
  min-width: 270px;
  max-width: 500px;
  color: white;
  font-size: 110%;
  text-align: center;
  background-color: #24327d; /*Gradient Fallback*/
  background: -webkit-linear-gradient(#3e1a80, #24327d);
  background: linear-gradient(#3e1a80, #24327d);
  border-radius: 4px;
}


/* Loader */
#loader-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: .4s all;
  transition: .4s all;
}
#loader-container.hidden{
  opacity: 0;
  visibility: hidden;
}
#loader-container #loader{
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
    z-index: 1;
    background: transparent;
    border-radius: 50%;
    border: 25px solid;
    border-color: #ffca28 #eeff41 #00bcd4 #1de9b6;
    -webkit-animation: rotateLoader .5s infinite linear;
    animation: rotateLoader .5s infinite linear;  
}
@-webkit-keyframes rotateLoader{
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to{
    -webkit-transform:rotate(1turn);
    transform:rotate(1turn)
  }
}
@keyframes rotateLoader{
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to{
    -webkit-transform:rotate(1turn);
    transform:rotate(1turn)
  }
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s all;
  transition: .5s all;
}
.popup.shown{
  visibility: visible;
  opacity: 1;
}
.popup .inner{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  max-width: 300px;
  margin-top: -30px; /* for the animation effect */
  background-color: white;
  opacity: 0;
  -webkit-transition: .5s all .3s;
  transition: .5s all .3s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.popup.shown .inner{
  opacity: 1;
  margin-top: 0;
}
.popup .popup-caption{
  padding: 15px;
  line-height: 1.2;
  font-size: 110%;
  text-align: center;
}
.popup .popup-confirm-btn{
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 110%;
  background-color: #6c49b3;
  color: white;
  text-align: center;
}


/* Login Page */
.login-page .top-bg{
  position: relative;
  height: 35vh;
  background-image: url('../img/login-top-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.login-page .top-bg .top-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  max-width: 300px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-page .fb-section{
  padding: 3vh 0;
  text-align: center;
  border-bottom: 1px solid rgb(225, 225, 225);
}
.login-page .fb-section .fb-login-btn{
  position: relative;
  display: block;
  width: 90%;
  min-width: 270px;
  max-width: 500px;
  background-color: #1c345d;
  color: white;
  font-size: 110%;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 1vh;
  border-radius: 4px;
}
.login-page .fb-section .fb-login-btn i{
  position: absolute;
  left: 12px;
  font-size: 130%;
}
.login-page .fb-section .under-label{
  color: rgb(130, 130, 130);
  font-weight: bold;
}
.login-page .email-and-pass-section h2{
  display: block;
  text-align: center;
  color: #1c345d;
  font-size: 140%;
  font-weight: bold;
  margin: 3vh 0;
}
.login-page .email-and-pass-section .form-field{
  display: block;
  background-color: rgb(235, 235, 235);
  padding: 7px 12px;
  border-radius: 4px;
  width: 90%;
  min-width: 270px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 2vh;
}
.login-page .email-and-pass-section .login-error-msg{
  color: #d80303;
  font-size: 90%;
  text-align: center;
  margin-bottom: -1vh;
}
.login-page .email-and-pass-section .login-btn{
  margin: 2.5vh auto;
}
.login-page .email-and-pass-section .register-btn{
  margin-bottom: 2vh;
}

/* Register Page */
.register-page{
  font-weight: bold;
  color: rgb(70, 70, 70);
  width: 95%;
  margin: 0 auto;
}
.register-page .top-strip{
  background-color: #232b42;
  color: white;
  margin: 0 -2.5%;
}
.register-page .top-strip .fa.fa-chevron-right{
  display: inline-block;
  vertical-align: middle;
  font-size: 170%;
  padding: 18px;
}
.register-page .top-strip h1{
  display: inline-block;
  vertical-align: middle;
  font-size: 140%;
}
.register-page .top-title{
  text-align: center;
  margin-top: 20px;
}
.register-page .top-title:after{
  display: block;
  background-color: black;
  height: 1px;
  width: 25px;
  margin: 25px auto;
  content: '';
}
.register-page .top-title h2{
  display: block;
  font-size: 120%;
  margin-bottom: 5px;
}
.register-page .top-title h3{
  opacity: .6;
  font-size: 90%;
}
.register-page form .image-selector h3:nth-child(1){
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.register-page form .image-selector h3:nth-child(2){
  text-align: center;
  font-size: 90%;
  opacity: .6;
  margin-bottom: 20px;
}
.register-page form .image-selector .avatars{
  width: 100%;
  max-width: 350px;
  text-align: right;
  margin: 0 auto;
}
.register-page form .image-selector .avatars .avatar{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: calc(20% - 10px);
  padding-bottom: calc(20% - 14px);
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid rgb(220, 220, 220);
}
.register-page form .image-selector .avatars .avatar.selected{
  border: 2px solid #3a6598;
}
.register-page form .image-selector .avatars .avatar.selected:after{
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #3a6598;
  font-family: 'FontAwesome', serif;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  border-radius: 50%;
  font-size: 80%;
  line-height: 1.65;
  content: '\f00c';
}
.register-page form .image-selector .avatars label.avatar{
  text-align: center;
  background-color: #0878c6;
  color: white;
}
.register-page form .image-selector .avatars label.avatar.selected{
  background-color: white;
}
.register-page form .image-selector .avatars label.avatar .inner{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.register-page form .image-selector .avatars label.avatar i{
  display: block;
  margin-bottom: 2px;
  font-size: 110%;
}
.register-page form .image-selector .avatars label.avatar span{
  font-size: 70%;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.register-page form .field-box{
  margin: 25px 0;
}
.register-page form .field-box.error .field-title{
  color: #DD0000;
}
.register-page form .field-box .field-title{
  display: block;
  margin-bottom: 2px;
  opacity: .6;
}
.register-page form .field-box.birth-date .field-title{
  display: inline-block;
  vertical-align: middle;
}
.register-page form .field-box.gender .field-title{
  margin-bottom: 6px;
}
.register-page form .field-box.gender .gender-btn{
  position: relative;
  display: inline-block;
  margin-left: 8px;
  background-color: rgb(170, 170, 170);
  color: white;
  padding: 4px 11px;
  letter-spacing: .5px;
  font-size: 120%;
  border-radius: 4px;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.register-page form .field-box.gender .gender-btn.selected{
  background-color: #3a6598;
}
.register-page form .field-box.gender .gender-btn.selected:after{
  position: absolute;
  left: -10px;
  bottom: -9px;
  background-color: #3a6598;
  font-family: 'FontAwesome', serif;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 70%;
  line-height: 1.55;
  -webkit-transition: .3s all;
  transition: .3s all;
  content: '\f00c';
}
.register-page form .field-box.gender input[type="radio"]{
  display: none;
}
.register-page form .field-box .field{
  display: block;
  width: 100%;
  padding: 5px 0;
  font-size: 120%;
  border: 0;
  border-bottom: 2px solid rgb(100, 100, 100);
}
.register-page form .field-box.birth-date input{
    background-color: rgb(220, 220, 220);
    display: inline-block;
    width: 150px;
    padding: 7px 0;
    text-align: center;  
    margin-right: 5px;
}
.register-page form .error-msg{
  color: #DD0000;
  text-align: center;
  margin-bottom: 20px;
}
.register-page form .register-btn{
  margin-bottom: 20px;
}
.register-page form .bottom-decleration{
  display: block;
  margin-bottom: 20px;
  opacity: .6;
}

/* Main Nav */
.main-nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #311b92;
  height: 63px;
}
.main-nav a{
  width: 25%;
  height: 100%;
  padding: 10px 0;  
  float: right;
  color: white;
  opacity: .7;
  text-align: center;
}
.main-nav a.active{
  opacity: 1;
}
.main-nav a img{
  display: block;
  height: 26px;
  margin: 0 auto 7px auto;
}
.main-nav a div{
  font-size: 80%;
}

/* Pages Container */
.view-animate-container {
  position: relative;
  overflow: hidden;
  height: calc(100% - 63px);
}
.view-animate-container > .slide{
  width: 100%;
  height: calc(100% - 95px);
  overflow-y: auto;
  overflow-x: hidden;
}
.view-animate-container > .slide.ng-enter {
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;    
}
.view-animate-container > .slide.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate-container > .slide.ng-leave {
  opacity: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;    
}
.view-animate-container > .slide.ng-leave.ng-leave-active{
  opacity: 0;
}

/* Top User Info */
.top-user-info{
  position: relative;
  background-color: #5e35b1;
  padding: 20px 20px 14px 0;
  color: white;  
}
.top-user-info .user-profile{
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.top-user-info .user-profile img{
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;  
}
.top-user-info .user-profile .points-count{
  position: absolute;
  display: block;
  top: -12px;
  right: -12px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 1;
  font-size: 75%;
  border-radius: 50%;
  min-width: 0;
  padding: 2px 0 0 0;
  font-weight: bold;
}
.top-user-info .user-location{
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 200px);   
  margin-right: 7px; 
  font-size: 90%;
}
.top-user-info .user-location .address{
  margin-bottom: 4px;
  line-height: 1.1;  
  letter-spacing: -0.5px;
}
.top-user-info .user-location .change-location-btn{
  background-color: transparent;  
  padding: 3px 6px 2px 6px;
  border: 1px solid white;
  font-size: 70%;
}
.top-user-info .ask-help-btn{
  position: absolute;
  top: 50%;
  left: 10px;
  background-color: #108aca;
  text-align: center;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 100%;
  letter-spacing: -0.5px;  
  -webkit-transform: translateY(-50%);  
  transform: translateY(-50%);  
}
.top-user-info .ask-help-btn img{
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-left: 2px;
}
.top-user-info .ask-help-btn span{
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (max-width: 430px){
  .top-user-info .user-location { width: calc(100% - 180px); }
  .top-user-info .ask-help-btn img{ display: none; }
}

/* Main Page */
.page-main .search-box{
  background-color: #5e35b1;
  padding: 10px 5% 15px 5%;
}
.page-main .search-box .search-input-box{
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.page-main .search-box .search-input-box .search-input{
  display: inline-block;
  border-bottom: 1px solid white;
  background-color: rgba(0,0,0,0);
  width: 100%;
  color: white;
  padding-bottom: 2px;
}
.page-main .search-box .search-input-box label{
  display: inline-block;  
  position: absolute;
  bottom: 4px;
  right: 0;
  color:white;
  pointer-events: none;
  -webkit-transition: .2s all;
  transition: .2s all;
}
.page-main .search-box .search-input-box .search-input.ng-not-empty + label,
.page-main .search-box .search-input-box .search-input:focus + label{
  bottom: 100%;
  font-size: 80%;
}
.page-main .search-box .search-input-box .fa-search{
  position: absolute;
  bottom: 5px;
  left: 0;
  color: white;
  pointer-events: none;
}

.page-main .swiper-background{
  background-color: #f1ce2e;
  padding-bottom: 5px;
  overflow-x: hidden;
}
.page-main .swiper-background .notice-box{
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
  padding-right: 5%;
  background-color: rgba(30,30,30,.3);
  font-size: 80%;
  font-weight: bold;
  letter-spacing: .3px;
}
.page-main .swiper-background .notice-box .seperator{
  display: inline-block;
  vertical-align: middle;
  height: 11px;
  width: 2px;
  background-color: rgb(255, 255, 255);
  margin: 0 7px;
}
.page-main .swiper-background .notice-box .notice{
  display: inline-block;
  line-height: 1.8;
  color: rgb(255, 255, 255);
}
.page-main .swiper-background .swiper-container{
  padding: 0 5%;
  overflow: visible;
}
.page-main .swiper-background .swiper-container .swiper-button-prev,
.page-main .swiper-background .swiper-container .swiper-button-next{
  background-image: none!important;
  height: auto!important;
  width: auto!important;
  background-color: rgb(245, 245, 245);
  padding: 6px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .5);
  margin-top: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
 }
.page-main .swiper-background .swiper-container .swiper-arrows{
  color: rgb(120, 120, 120);
}
.page-main .swiper-background .swiper-container .swiper-wrapper,
.page-main .swiper-container .swiper-wrapper .swiper-slide{
  height: auto !important;  
}
.page-main .swiper-container .swiper-wrapper .swiper-slide.help-request-box .recommended-icon{
  position: absolute;
  top: -15px;
  left: 8px;
  width: 50px;
  z-index: 20;
  -webkit-box-shadow: 0px 0px 10px 2px #b1c5d5;
  box-shadow: 0px 0px 10px 2px #b1c5d5;
  border-radius: 50%;
}
.page-main .swiper-background .swiper-container .swiper-wrapper .swiper-slide.help-request-box .inner-help-request-box .header{
  width: calc(100% - 130px);
}
.page-main .swiper-container .swiper-wrapper .swiper-slide.help-request-box .inner-help-request-box .content{
  width: 94%;
}

.page-help .preview .help-request-box,
.page-main .help-request-box{
  position: relative;
  width: 90%;
  margin: 10px auto;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: 0px 0px 14px #e3e3e3;
          box-shadow: 0px 0px 14px #e3e3e3;
  background-image: url("../img/help-request-box/help-request-box-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 7px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page-help .preview .help-request-box::after,
.page-main .help-request-box::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: "";
  background: -webkit-linear-gradient(rgba(255,255,255,.8) 60% rgba(0,0,0,0));
  background: linear-gradient(rgba(255,255,255,.8) 60% rgba(0,0,0,0));
}
.page-help .preview .help-request-box .inner-help-request-box,
.page-main .help-request-box .inner-help-request-box{
  z-index: 10;
  position: relative;
}
.page-help .preview .help-request-box .inner-help-request-box .user-image,
.page-main .help-request-box .inner-help-request-box .user-image{
  display: inline-block;
  border: 2px solid white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  vertical-align: middle;
}
.page-help .preview .help-request-box .inner-help-request-box .header,
.page-main .help-request-box .inner-help-request-box .header{
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 75px);
  margin-right: 10px;
  letter-spacing: 0.5px;
  font-size: 100%;
  font-weight: bold;  
}
.page-help .preview .help-request-box .inner-help-request-box .content,
.page-main .help-request-box .inner-help-request-box .content{
  display: block;
  margin: 5px auto;
  padding: 0 5px;
  font-size: 85%;
  line-height: 1.2;
}
.page-help .preview .help-request-box .inner-help-request-box .help-request-info-box,
.page-main .help-request-box .inner-help-request-box .help-request-info-box{
  padding: 5px;
  max-width: 450px;
}
.page-help .preview .help-request-box .inner-help-request-box .help-request-info,
.page-main .help-request-box .inner-help-request-box .help-request-info{
  display: inline-block;
  font-size: 70%;
  vertical-align: middle;
  padding: 0 5px;
}
.page-help .preview .help-request-box .inner-help-request-box .help-request-info-box .request-icon,
.page-main .help-request-box .inner-help-request-box .help-request-info-box .request-icon{
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}
.page-help .preview .help-request-box .inner-help-request-box .help-request-info-box .request-time, 
.page-help .preview .help-request-box .inner-help-request-box .help-request-info-box .request-place,
.page-main .help-request-box .inner-help-request-box .help-request-info-box .request-time, 
.page-main .help-request-box .inner-help-request-box .help-request-info-box .request-place{
  width: calc(40% - 18px);
}
.page-help .preview .help-request-box .inner-help-request-box .help-request-info-box .request-payment,
.page-main .help-request-box .inner-help-request-box .help-request-info-box .request-payment{
  width: calc(20% - 18px);
 }
 
/* Coins Page */

.page-coins .coins-nav{
  background-color: #5e35b1;
}
.page-coins .coins-nav .swiper-wrapper{
  height: auto !important;
}
.page-coins .coins-nav .swiper-wrapper,
.page-coins .coins-nav .swiper-wrapper .swiper-slide{
  width: auto !important;
}

.page-coins .coins-nav .swiper-wrapper .swiper-slide a{
  display: inline-block;
  color: white;
  padding: 10px 20px;
}
.page-coins .coins-tab-active{
  border-bottom: 5px solid rgba(0,0,0,.4);
}

.page-coins .head-coins-page{
  background-color: #00bcd4;
  padding: 10px 20px 0 10px;
}
.page-coins .head-coins-page .coins-icon,
.page-coins .head-coins-page .person-icon,
.page-coins .head-coins-page .quantity-coins-box{
  display: inline-block; 
  vertical-align: middle;
}
.page-coins .head-coins-page .coins-icon{
  width: 50px;
}
.page-coins .head-coins-page .person-icon{
  width: 100px;
}
.page-coins .head-coins-page .quantity-coins-box{
  margin: 0 15px;
  width: calc(100% - 180px);
}
.page-coins .head-coins-page .coins-icon,
.page-coins .head-coins-page .quantity-coins-box{
  margin-bottom: 5px;
}
.page-coins .head-coins-page .quantity-coins-box .quantity-coins{
  display: block;
  color: white;
  font-size: 140%;
  line-height: 1.3;
  font-weight: bold;
  letter-spacing: .8;
}

.page-coins .notice-coins-page{
  background-color: #006064;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 110%;
}

.page-coins .coins-history{
  padding: 3px 15px;
  background-color: white;
}
.page-coins .coins-history h6{
  color: #383838;
  line-height: 1.5;
  margin: 10px;
}
.page-coins .coins-history .history-tab{
  margin: 10px auto;
  padding: 13px 0;
  background-color: #f7f7f7;
  border: 1px solid #e4e4e4;
}
.page-coins .coins-history .history-tab .fa-times-circle,
.page-coins .coins-history .history-tab .coins-history-text-box,
.page-coins .coins-history .history-tab .coins-history-user-image{
  display: inline-block;
  vertical-align: middle;
}
.page-coins .coins-history .history-tab .fa-times-circle{
  color: #cacaca;
  font-size: 25px;
  margin-right: 5px;
}
.page-coins .coins-history .history-tab .coins-history-user-image{
  width: 40px;
  margin: 0 10px;
}
.page-coins .coins-history .history-tab .coins-history-text-box{
  padding-left: 5px;
  width: calc(100% - 90px);
  font-size: 90%;
 }
.page-coins .coins-history .history-tab .coins-history-text-box .coins-history-description{
  display: block;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: .5;
  margin-bottom: 3px;
}
.page-coins .coins-history .history-tab .coins-history-text-box .coins-history-description span{
  color: #00bcd4;
}
.page-coins .coins-history .history-tab .coins-history-text-box .coins-history-source{
  font-size: 80%;
}

/* Help Pages */

.page-help .first-help-page .create-ad .create-ad-title{
  display: block;
  border-bottom: 1px solid #232323;
  padding-left: 20px;
  margin-right: 50px;
  width: calc(100% - 70px);
  padding: 10px 0
} 

.page-help .first-help-page .create-ad label{
  display: block;
  color: #7e7a7a;
  width: calc(100% - 50px);
  margin-right: 50px;
}
.page-help .first-help-page .create-ad .label-create-title{
  margin-top: 15px;
  margin-right: 50px;
  font-size: 80%;
}
.page-help .first-help-page .create-ad .label-create-body{
  text-align: left;
  font-size: 70%;
  margin-top: 15px;
  padding-left: 20px;
}
.page-help .first-help-page .create-ad .note{
  color: #3c2077;
  font-size: 80%;
}
.page-help .first-help-page .create-ad .create-ad-body{
  background-color: #f6f6f6;
  width: calc(100% - 70px);
  margin-right: 50px;
  border: 1px solid #dadada;
  padding: 10px;
}
.page-help .first-help-page .create-ad .replace,
.page-help .first-help-page .create-ad .create-ad-location{
  display: inline-block;
  font-size: 80%;
  vertical-align: bottom;
}
.page-help .first-help-page .create-ad .replace{
  color: #462b7e;
  font-weight: bold;
  text-align: left;
  width: calc(50% - 75px);
  line-height: 1.3;
}
.page-help .first-help-page .create-ad .create-ad-location{
  color: #444444;
  width: 50%;
}
.page-help .first-help-page .create-ad .btn-next-level{
  display: block;
  margin: 40px auto;
  background-color: #356dcf;
}

.page-help .second-help-page .create-ad-part-two{
  padding: 15px 50px 15px 20px;
}


.page-help .first-help-page .create-ad-header,
.page-help .second-help-page .create-ad-header,
.page-help .final-help-page .ad-summary-box{
  background-color: #3fa1d4;
}
.page-help .first-help-page .create-ad-header .flower-icon,
.page-help .first-help-page .create-ad-header .create-ad-inner-header,
.page-help .second-help-page .create-ad-header .flower-icon,
.page-help .second-help-page .create-ad-header .create-ad-inner-header,
.page-help .final-help-page .ad-summary-box .flower-icon,
.page-help .final-help-page .ad-summary-box .ad-summary{
  display: inline-block;
  vertical-align: middle;
}
.page-help .first-help-page .create-ad-header .flower-icon,
.page-help .second-help-page .create-ad-header .flower-icon,
.page-help .final-help-page .ad-summary-box .flower-icon{
  width: 30px;
  margin-right: 10px;
}
.page-help .first-help-page .create-ad-header .create-ad-inner-header,
.page-help .second-help-page .create-ad-header .create-ad-inner-header,
.page-help .final-help-page .ad-summary-box .ad-summary{
  width: calc(100% - 40px);
  padding: 10px;
}
.page-help .first-help-page .create-ad-header .create-ad-inner-header .title-help-header,
.page-help .second-help-page .create-ad-header .create-ad-inner-header .title-help-header,
.page-help .final-help-page .ad-summary-box .ad-summary .title-help-header{
  display: block;
  color: white;
  font-size: 120%;
  line-height: 1.5;
}
.page-help .first-help-page .create-ad-header .create-ad-inner-header .coin-icon,
.page-help .first-help-page .create-ad-header .create-ad-inner-header .description,
.page-help .second-help-page .create-ad-header .create-ad-inner-header .coin-icon,
.page-help .second-help-page .create-ad-header .create-ad-inner-header .description,
.page-help .final-help-page .ad-summary-box .ad-summary .coin-icon,
.page-help .final-help-page .ad-summary-box .ad-summary .description{
  display: inline-block;
  vertical-align: middle;
}
.page-help .first-help-page .create-ad-header .create-ad-inner-header .coin-icon,
.page-help .second-help-page .create-ad-header .create-ad-inner-header .coin-icon,
.page-help .final-help-page .ad-summary-box .ad-summary .coin-icon{
  width: 19px;
 }
.page-help .first-help-page .create-ad-header .description,
.page-help .second-help-page .create-ad-header .description,
.page-help .final-help-page .ad-summary-box .ad-summary .description{
  font-size: 80%;
}
.page-help .final-help-page .preview{
  padding: 5px 0;
}
.page-help .first-help-page .create-ad span,
.page-help .first-help-page .create-ad .note,
.page-help .final-help-page .preview .note,
.page-help .final-help-page .preview .preview-title{
  display: block;
  font-weight: bold;
  padding-left: 20px;
  margin-right: 50px;
  margin-top: 15px;
  line-height: 1.3;
}
.page-help .final-help-page .preview .preview-title{
  font-size: 110%;
}
.page-help .final-help-page .preview .note{
  color: #3c2077;
  font-size: 90%;
}
.page-help .final-help-page .preview .help-request-box + .note{
  margin-top: 30px;
}
.page-help .final-help-page .preview .note span{
  display: block;
}
.page-help .final-help-page .help-buttons{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.page-help .first-help-page .create-ad .btn-next-level,
.page-help .second-help-page .help-buttons .undo,
.page-help .second-help-page .help-buttons .confirm,
.page-help .final-help-page .help-buttons .undo,
.page-help .final-help-page .help-buttons .confirm{
  color: white;
  font-size: 140%;
  padding: 10px;
  width: 115px;
  border-radius: 5px;
}
.page-help .second-help-page .help-buttons .undo,
.page-help .final-help-page .help-buttons .undo{
  display: inline-block;
  background-color: #383636;
  margin-left: 10px;
}
.page-help .second-help-page .help-buttons .confirm,
.page-help .final-help-page .help-buttons .confirm{
  display: inline-block;
  background-color: #356dcf;
}